.image15Icon {
  position: absolute;
  top: 0;
  left: 2.12px;
  width: 773px;
  height: 548px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 171px;
  left: 423.12px;
  background-color: var(--color-white);
  width: 154px;
  height: 52px;
}
.groupChild1,
.groupChild2,
.groupInner,
.groupItem,
.rectangleDiv {
  position: absolute;
  top: 152.44px;
  left: 210.81px;
  background-color: var(--color-white);
  width: 87.67px;
  height: 70.96px;
}
.groupChild1,
.groupChild2,
.groupInner,
.rectangleDiv {
  top: 170.84px;
  left: 277.49px;
  height: 48.62px;
}
.groupChild1,
.groupChild2,
.rectangleDiv {
  top: 161.64px;
  left: 365.16px;
  width: 127.19px;
  height: 57.82px;
}
.groupChild1,
.groupChild2 {
  top: 29px;
  left: 37.12px;
  width: 642px;
  height: 70px;
}
.groupChild2 {
  top: 67.21px;
  left: 65.45px;
  width: 480.19px;
  height: 65.45px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.groupChild3,
.image15Parent {
  position: absolute;
  top: 218px;
  left: 333.88px;
  width: 775.12px;
  height: 548px;
}
.groupChild3 {
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 97px;
  height: 35px;
}
.donate {
  position: absolute;
  top: 4px;
  left: 23px;
  font-weight: 300;
  display: inline-block;
  width: 53.44px;
  height: 16.5px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 1153px;
  width: 95px;
  height: 33px;
}
.ourServices {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 49.5px);
  font-weight: 300;
  display: inline-block;
  width: 87px;
  height: 18px;
}
.vectorIcon {
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% + 41.5px);
  width: 8px;
  height: 5px;
}
.getInvolved,
.ourServicesParent {
  position: absolute;
  top: calc(50% - 16.38px);
  left: calc(50% + 11px);
  width: 99px;
  height: 18px;
  cursor: pointer;
}
.getInvolved {
  top: calc(50% - 8.5px);
  left: calc(50% - 49px);
  font-weight: 300;
  display: inline-block;
  width: 90px;
  height: 17px;
}
.vectorIcon1 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 41px);
  width: 8px;
  height: 5px;
}
.getInvolvedParent,
.selfAssessment {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 436px);
  width: 98px;
  height: 17px;
}
.selfAssessment {
  top: calc(50% - 8.5px);
  left: calc(50% - 74.5px);
  font-weight: 300;
  display: inline-block;
  width: 149px;
}
.vectorIcon2 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 37.5px);
  width: 8px;
  height: 5px;
}
.aboutUs1,
.selfAssessmentParent {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 294px);
  width: 149px;
  height: 17px;
  cursor: pointer;
}
.aboutUs1 {
  top: calc(50% - 8.5px);
  left: calc(50% - 38px);
  font-weight: 300;
  display: inline-block;
  width: 62px;
}
.vectorIcon3 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 30px);
  width: 8px;
  height: 5px;
}
.aboutUsParent,
.homepage {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 109px);
  width: 76px;
  height: 17px;
}
.homepage {
  top: calc(50% - 8.5px);
  left: calc(50% - 43px);
  font-weight: 300;
  display: inline-block;
  width: 75px;
  cursor: pointer;
}
.homepageParent,
.vectorIcon4 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 35px);
  width: 8px;
  height: 5px;
}
.homepageParent {
  top: calc(50% - 15.38px);
  left: calc(50% - 580px);
  width: 86px;
  height: 17px;
}
.lineDiv {
  position: absolute;
  top: 42.51px;
  left: -0.25px;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 1290.5px;
  height: 0.5px;
}
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1290px;
  height: 42.76px;
}
.aboutUs2,
.aboutUsWrapper,
.groupParent {
  position: absolute;
  width: 422px;
  height: 42px;
}
.aboutUs2 {
  top: 0;
  left: 0;
  display: inline-block;
}
.aboutUsWrapper,
.groupParent {
  top: 86px;
  left: 74px;
  font-size: var(--font-size-13xl);
}
.groupParent {
  top: 36px;
  left: 62px;
  width: 1290px;
  height: 128px;
  font-size: var(--font-size-base);
}
.ourVision {
  margin: 0;
  font-weight: 500;
}
.blankLine {
  margin: 0;
}
.ourVisionOurContainer {
  position: absolute;
  top: calc(50% - 70.5px);
  left: calc(50% - 558.5px);
  display: inline-block;
  width: 1124px;
  height: 141px;
}
.groupChild4 {
  position: absolute;
  top: 45px;
  left: -1px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 135.02px;
  height: 2px;
}
.ourVisionOurVisionIsToCrParent {
  position: absolute;
  top: calc(50% - 748px);
  left: calc(50% - 553.01px);
  width: 1131.01px;
  height: 141px;
}
.ourMissionOurContainer {
  position: absolute;
  top: calc(50% - 143.5px);
  left: calc(50% - 557px);
  display: inline-block;
  width: 1124px;
  height: 287px;
}
.groupChild5 {
  position: absolute;
  top: 50px;
  left: -1px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 145px;
  height: 2px;
}
.ourMissionOurMissionIsToParent {
  position: absolute;
  top: calc(50% - 570px);
  left: calc(50% - 553px);
  width: 1134px;
  height: 287px;
}
.groupChild6 {
  position: absolute;
  top: 48px;
  left: -1px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 135.02px;
  height: 2px;
}
.ourGoalOurGoalIsToEmpoweParent {
  position: absolute;
  top: calc(50% - 246px);
  left: calc(50% - 553px);
  width: 1134px;
  height: 287px;
}
.aboutUsOurContainer {
  position: absolute;
  top: calc(50% - 267.5px);
  left: calc(50% - 557px);
  display: inline-block;
  width: 1124px;
  height: 535px;
}
.aboutUsOurWebsiteIsDesignParent {
  position: absolute;
  top: calc(50% + 78px);
  left: calc(50% - 543px);
  width: 1134px;
  height: 535px;
}
.groupChild8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-teal-100);
  width: 1440px;
  height: 305px;
}
.counselling,
.mentoring,
.onlineClasses,
.phycologicalTests,
.services,
.webinar {
  position: absolute;
  left: calc(50% - 61px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.services {
  top: calc(50% - 109px);
  font-weight: 500;
}
.counselling,
.mentoring,
.onlineClasses,
.phycologicalTests,
.webinar {
  top: calc(50% - 76.5px);
}
.counselling,
.onlineClasses,
.phycologicalTests,
.webinar {
  top: calc(50% - 42.5px);
  width: 95px;
}
.onlineClasses,
.phycologicalTests,
.webinar {
  top: calc(50% - 8.5px);
  width: 104px;
}
.phycologicalTests,
.webinar {
  top: calc(50% + 25.5px);
}
.phycologicalTests {
  top: calc(50% + 59.5px);
  width: 122px;
}
.mentoringParent,
.servicesParent {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 61px);
  width: 122px;
  height: 153px;
  font-size: var(--font-size-base);
}
.servicesParent {
  top: calc(50% - 128.5px);
  left: calc(50% - 292px);
  height: 218px;
  font-size: var(--font-size-xl);
}
.companyTaglineWith {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 144.5px);
  display: inline-block;
  width: 289px;
  height: 65px;
}
.companyTaglineWithLogoAndWrapper {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 638px);
  width: 289px;
  height: 65px;
}
.mentorPartners,
.ourStory,
.psychologistPartners {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 78.5px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.mentorPartners,
.psychologistPartners {
  top: calc(50% - 42.5px);
  width: 121px;
}
.psychologistPartners {
  top: calc(50% - 8.5px);
  width: 157px;
}
.advisorPartners {
  top: calc(50% + 25.5px);
  display: inline-block;
  width: 112px;
  height: 17px;
}
.advisorPartners,
.company,
.help,
.ourStoryParent {
  position: absolute;
  left: calc(50% - 78.5px);
}
.help {
  top: calc(50% + 59.5px);
  display: inline-block;
  width: 104px;
  height: 17px;
}
.company,
.ourStoryParent {
  top: calc(50% - 44px);
  width: 157px;
  height: 153px;
}
.company {
  top: calc(50% - 109px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 99px;
  height: 17px;
}
.advisor,
.groupParent1,
.mentor {
  position: absolute;
  top: calc(50% - 128.5px);
  left: calc(50% - 93px);
  width: 157px;
  height: 218px;
}
.advisor,
.mentor {
  top: calc(50% - 42.5px);
  left: calc(50% - 78.5px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.advisor {
  top: calc(50% - 8.5px);
  width: 121px;
}
.joinUsAs,
.mentorParent,
.psychologist {
  position: absolute;
  left: calc(50% - 78.5px);
  width: 157px;
}
.psychologist {
  top: calc(50% + 25.5px);
  display: inline-block;
  height: 17px;
}
.joinUsAs,
.mentorParent {
  top: calc(50% - 10px);
  height: 85px;
}
.joinUsAs {
  top: calc(50% - 75px);
  left: calc(50% - 75.5px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 105px;
  height: 17px;
}
.groupParent2 {
  position: absolute;
  top: calc(50% - 128.5px);
  left: calc(50% + 123px);
  width: 157px;
  height: 150px;
}
.aboutOurMission,
.ourWholeTeamIsDedicatedToWrapper {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 144.5px);
  width: 289px;
  height: 65px;
}
.aboutOurMission {
  top: calc(50% - 65px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 182px;
  height: 17px;
}
.groupParent3 {
  position: absolute;
  top: calc(50% - 128.5px);
  left: calc(50% + 330px);
  width: 289px;
  height: 130px;
}
.groupIcon {
  position: absolute;
  height: 5.28%;
  width: 10.14%;
  top: 65.57%;
  right: 16.94%;
  bottom: 29.15%;
  left: 72.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleGroup {
  position: absolute;
  top: 1598px;
  left: 0;
  width: 1440px;
  height: 305px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.aboutUs {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  height: 1896px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
